{% extends "work/base.html" %}

{% block content %}
    {% if form.errors %}
       <div class="alert alert-danger show fade">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Ошибка!</strong> Не верный логин и/или пароль. Попробуйте еще раз
        </div>
    {% endif %}

    <div class="ml-auto">
        <p> Для авторизации введите логин и пароль и нажмите кнопку "Войти" </p>
        <form class="login"method="post" action="{% url 'login' %}">
        {% csrf_token %}

            <div class="form-group row"> 
                <label class="col-sm-3 col-form-label" for="id_username">{{ form.username.label_tag }}</label>
                <div class="col-sm-9">
                        <input type="text" class="form-control" name="username" id="id_username">
                    </div>
            </div>
             <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="id_password">{{ form.password.label_tag }}</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="password" id="id_password">
                    </div>
                </div>
                
                <div class="row">
                     <div class="col-sm-9 offset-sm-3">
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </div>
                </div>

            {% comment %} <table> {% endcomment %}
            {% comment %} <tr> {% endcomment %}
{% comment %} 
                <td>{{ form.username.label_tag }}</td>
                <td class="margin-left-20">{{ form.username }}</td> {% endcomment %}
            {% comment %} </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr> {% endcomment %}
            {% comment %} </table> {% endcomment %}
            {% comment %} <input type="submit" class="btn btn-primary" value="Войти"> {% endcomment %}
            {% comment %} <input type="hidden"  class="btn btn-primary" name="next" value="{{ next }}" /> {% endcomment %}
            
        </form>
    </div>
   
    {% endblock %}